/* تنسيق الفوتر */
.footer {
    padding: 10px;
    background-color: #333; /* اللون الأساسي */
    text-align: center;
    font-size: 16px;
    color: #F3C04F; /* لون النص */
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* محاذاة النص في منتصف الفوتر */
  .footer p {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* جعل الفوتر متجاوباً مع الشاشات المختلفة */
  @media (max-width: 768px) {
    .footer {
      padding: 15px; /* تقليل الحشوة في الشاشات الصغيرة */
      font-size: 14px; /* تقليل حجم النص في الشاشات الصغيرة */
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 10px; /* تقليل الحشوة في الهواتف الصغيرة */
      font-size: 12px; /* تقليل حجم النص بشكل أكبر */
    }
  }
  